<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.common.mapper.AccessLogMapper">

	<insert id="create">
		INSERT INTO access_log
			 (
			   request_uri,
			   class_name,
			   class_simple_name,
			   method_name,
			   remote_addr,
			   reg_date
			 )
		VALUES
			 (
			   #{requestUri},
			   #{className},
			   #{classSimpleName},
			   #{methodName},
			   #{remoteAddr},
			   now()
			 )
	</insert>

	<select id="list" resultType="org.hdcd.common.domain.AccessLog">
		SELECT log_no,
			   request_uri,
			   class_name,
			   class_simple_name,
			   method_name,
			   remote_addr,
			   reg_date,
			   upd_date
		  FROM access_log
	  ORDER BY log_no DESC
	</select>

</mapper>
